@use "../../index.scss" as i;


.FirstSection {
    @include i.secondary_color_background;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        @include i.primary_color_text;
        margin: 10px;
        font-size: 2rem;

        >span {
            color: black;
            font-style: italic;
        }
    }

    h2 {
        font-weight: 500;
        font-size: 0.8rem;
        margin: 0;
    }
}