@use "../../index.scss" as i;

.ContactMeSection {
    @include i.primary_color_background;
    @include i.secondary_color_text;
    padding: 100px 100px 5px 100px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left-col {
        display: flex;
        flex-direction: column;

        .reach-out {
            font-size: 1.35rem;
        }

        hr {
            border: 1px solid i.$tertiary_color;
            margin: 30px 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            >div {
                display: flex;
                width: 100%;
                justify-content: space-evenly;
            }

            .single-input {
                display: flex;
                flex-direction: column;
                font-size: .6rem;
                margin: 10px;

                label {
                    text-align: left;
                }

                input {
                    height: .6rem;
                    border-radius: 8px;
                    border: 2px solid i.$tertiary_color;

                    &::first-line {
                        color: i.$primary_color;
                        font-size: .4rem;
                    }
                }
            }

            button {
                font-size: .5rem;
                margin: 15px 0px 0px 0px;
                border-radius: 8px;
                @include i.tertiary_color_background;
                @include i.secondary_color_text;
                padding: 2px 16px;
                border: 2px solid i.$secondary_color;
                transition: 200ms all;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

                &:hover {
                    cursor: pointer;
                    @include i.secondary_color_background;
                    @include i.tertiary_color_text;
                    scale: 1.05;
                    border: 2px solid i.$tertiary_color;
                }
            }
        }

        p:nth-of-type(2) {
            font-size: .4rem;
            margin-top: auto;
        }
    }

    .right-col {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        .ContactOption {
            margin: 20px 10px;

            &:nth-last-child(1) {
                padding-bottom: 45px;
            }
        }
    }
}