@use "../../index.scss" as i;

.ContactMeSection {
    @include i.primary_color_background;
    @include i.secondary_color_text;
    padding: 60px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left-col {
        display: flex;
        flex-direction: column;

        .reach-out {
            font-size: 1.35rem;
        }

        hr {
            border: 1px solid i.$tertiary_color;
            margin: 30px 20px;
        }
    }
}