@use "../../index.scss" as i;


.GallerySection {
    @include i.secondary_color_background;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 1fr 1fr;
    padding: 0px 100px;

    h1 {
        @include i.primary_color_text;
        font-size: 1.35rem;
        grid-column: span 3;
        margin: 0;
        height: fit-content;
    }

}