@use "../../index.scss" as i;


.AboutSection {
    @include i.secondary_color_background;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;

    .left-col {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            @include i.primary_color_text;
            font-size: 1.35rem;
            text-align: left;
            margin: 20px 0px;
        }

        div {
            font-size: .6rem;

            p {
                text-align: justify;
                padding-bottom: 20px;
            }
        }

        .buttons {
            margin: 50px auto 0px;
        }
    }

    .right-col {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        >div {
            background: linear-gradient(135deg, i.$primary_color , transparent, i.$primary_color);
            position: absolute;
            border-radius: 12px;
            height: 374px;
            // padding: 50px 0px;
        }

        img {
            rotate: (10deg);
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border: 2px solid i.$tertiary_color;
            transition: 300ms;
            width: 377px;
            height: 377px;

            &:hover {
                rotate: (0deg);
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .AboutSection {
        height: fit-content;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2.8fr;

        h1 {
            display: flex;
            justify-content: center;
        }

        p {
            margin: 0px 0px 30px 0px;
        }
    }
}